$primaryTextColor: yellow;
$secondaryTextColor: white;
$tertiaryTextColor: lightblue;

h1,
h2 {
  color: $primaryTextColor;
  text-align: center;
}

h3,
h4,
p {
  text-align: center;
}

h4,
p {
  color: $secondaryTextColor;
}

h3 {
  color: $tertiaryTextColor;
  font-size: 34px;
}

p {
  text-decoration: underline;
}

.Burger,
.Fridge {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding-bottom: 10px;
}

.volunteer {
  text-align: center;
}
